

body{
  background-image: url("../src/media/sunset-background.png")
  ;
  font-family: 'Caveat', cursive !important;
  color: white !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.reel-title{
/* width: 10%;
height: 10%; */
}



/* Navigation */

.nav-writing{
  width:50% ;
}


.nav-link{
  font-family: 'Caveat', cursive !important;
  max-width:20% ;
  color: white !important;
  text-align: left  !important;
}

.about-me{
  width: 100%;
}
.nav-contact{
  width: 90%;
  padding-left: 20%;
}

  /* Home */

  .writing{
    max-width: 50%;
  }

  .title{
    width: 40vw;
  }

  .introduction-container{
    font-family: 'Caveat', cursive;
    color: black
    
  }

  .contact-information-card{
    color: white !important;
    background-color: #65785b !important;

  }
  .profile-home{
    width: 100%;
    border-radius: 10%;
  opacity: .7;
  }


  
.reel{
 width: 100%;
 height: 56%;

}
.contact-modal-title{
  width: 40%;
}
.contact-modal-type{
width: 50%;
}

/* ////////////////////////////////////////////////////////////// */
@media all and (min-width: 1201px) and (max-width: 4000px) {

/* Navigation */
.nav{
  

  width: 60%;
}
.nav-link{
  font-size: 22px !important;
}


  /* Home */
.writing{
  width: 58%;
}
  .title{

  }
.sub-title{
 width: 40%;
}

/* .contact-information-title{
  font-size: 40px !important;
} */
.contact-information{
  font-size: 20px;
}

.travel-information{
font-size: 16px;
}

.reel-title{
  font-size: 90px;
}
/* HEADER */

.header-title{
  font-size: 40px;
}

.page-title{
  font-size: 80px;
  color: black;
}

/* VIDEO */

.reel{

}

}





@media all and (min-width: 780px) and (max-width: 1200px) {

/* Navigation */
.nav{
 width: 80%;
}
.nav-link{
  font-size: 18px !important;
}

  /* Home */

.title{
  font-size: 60px;
}
.sub-title{
  width: 30%;
}


.contact-information-title{
  font-size: 30px  !important;
}
.contact-information{
  font-size: 18px;
}
.travel-information{
  font-size: 14px;
}
/* .about-me-card{
  max-width: 60%;
} */
.profile-home{
  width: 100%;
  padding: 2%;
}

.reel-title{
  font-size: 55px;
  padding-top: 2%;
}

.reel{
  padding: 5%;
  padding-top: 0%;
  width: 100%;
  height: 140%;
}

}

@media  all and (min-width: 360px) and (max-width: 779px) {

  /* Navigation */
.nav{
  width: 100%;
 }
 .nav-link{
  font-size: 20px !important;
margin: 1%;
 }


   /* Home */
 .title{
  font-size: 50px;
 }


  .contact-information-card{
   max-width: 80%;
    }
    .contact-information{
      font-size: 14px;
    }
    .travel-information{
      font-size: 12px;
    }
}

@media  all and (max-width: 359px) {
/* Navigation */

.nav{
  align-items: left !important;
}





  .contact-information-card{
    max-width: 100%;
    }
    .contact-information{
      font-size: 12px;
    }
    .travel-information{
      font-size: 10px;
    }




    .reel{
      padding: 5%;
      width: 100%;
      height: 140%;
    }
}

