.App {
  text-align: center;
}

.sunset{
  background-image: url("../src/media/sunset-background.png");
}

body{
  background-image: url("../src/media/sunset-background.png")
  
  ;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Navigation */
.Navigation{


}

.nav{
  min-width: 60%;
}

  /* Home */

.contact-information{

}