

.sunset{
  background-image: url("../src/media/sunset-background.png");
}

body{
  background-image: url("../src/media/sunset-background.png")
  ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Navigation */


.nav-link{
  color: white !important;
}
.contact{

  color: white !important;
}


  /* Home */
  .introduction-container{
    font-family: 'Caveat', cursive;
    color: white;
    
  }

  .contact-information-card{
    color: white !important;
    background-color: #484d39 !important;

  }




@media all and (min-width: 1201px) and (max-width: 1800px) {

/* Navigation */
.navbar {
  color: white !important;
}

  /* Home */




  .title{
    font-size: 100px;
  }

.contact-information-card{
max-width: 30%;

}

.card-title{
  font-size: 30px !important;
}

.travel-information{
font-size: 12px;
}

.about-me-card{
max-width: 40%;

}

.profile-home{
  max-width: 100%;

}
}





@media all and (min-width: 780px) and (max-width: 1200px) {

/* Navigation */
.navbar {
  color: white
}

  /* Home */

  .introduction{
    font-family: 'Caveat', cursive;
    color: white;
  }

.contact-information{
max-width: 60%;
}
.profile-home{
  max-width: 10%
}




}

@media  all and (min-width: 360px) and (max-width: 779px) {}

@media  all and (max-width: 359px) {}